@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*COLORS
Dark red - #9d0b0b;
Light red - #da2d2d;
Orange - #eb8242;
Yellow - #f6da63;
*/
:root {
  --gutter-width: 6rem;
  --color-red-dark: #9d0b0b;
  --color-red-light: #da2d2d;
  --color-orange: #eb8242;
  --color-orange-light: #ee9963;
  --color-yellow: #f6da63;
  --color-yellow-light: #f7e490;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-light: rgb(206, 205, 205); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 500px) {
    html {
      font-size: 40%; } }

body {
  font-family: 'Oswald', sans-serif; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 200; }

.main__header {
  margin-bottom: 5rem; }
  .main__header--title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--color-yellow);
    font-weight: 200; }
    @media only screen and (max-width: 900px) {
      .main__header--title {
        text-align: center; } }

.-u-tip-calc-para {
  font-size: 2rem;
  color: var(--color-yellow);
  padding: 1rem 0; }

.bg-video {
  position: absolute;
  top: 5rem;
  left: 0;
  height: 50vh;
  width: 100%;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 10rem;
  background-color: var(--color-yellow);
  color: var(--color-red-dark);
  border: none;
  text-decoration: none;
  display: inline-block;
  position: relative; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:link:active, .btn:visited:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after, .btn:link::after, .btn:visited::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    background-color: var(--color-yellow);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn-animated {
  animation: moveInBottom 2s 1.5s;
  animation-fill-mode: backwards; }

.btn-card {
  width: 50%; }

.card {
  perspective: 150rem;
  width: 25%;
  position: relative;
  height: 50rem;
  display: flex;
  margin-bottom: 4rem; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__side {
    height: 40rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .card__side--front {
      background-color: var(--color-white); }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg); }
      .card__side--back-one {
        background-image: linear-gradient(#9d0b0b, #da2d2d); }
      .card__side--back-two {
        background-image: linear-gradient(#eb8242, #ee9963); }
      .card__side--back-three {
        background-image: linear-gradient(#f6da63, #f7e490); }
  .card__picture {
    height: 40%;
    background-size: cover;
    background-position: center; }
    .card__picture--one {
      background-image: linear-gradient(rgba(157, 11, 11, 0.8), rgba(218, 45, 45, 0.5)), url(../img/brooke-lark-HlNcigvUi4Q-unsplash.jpg); }
    .card__picture--two {
      background-image: linear-gradient(rgba(235, 130, 66, 0.8), rgba(238, 153, 99, 0.5)), url(../img/abhishek-sanwa-limbu-LR559Dcst70-unsplash.jpg); }
    .card__picture--three {
      background-image: linear-gradient(rgba(246, 218, 99, 0.8), rgba(247, 228, 144, 0.5)), url(../img/dan-gold-E6HjQaB7UEA-unsplash.jpg); }
  .card__heading {
    font-size: 3rem;
    font-weight: 200;
    color: var(--color-yellow); }
  .card__details {
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 2rem;
    color: var(--color-red-dark); }
  .card__back {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .card__price--only {
    font-size: 3rem;
    font-weight: 200; }
  .card__price--value {
    font-size: 6rem;
    font-weight: 200; }
  @media only screen and (max-width: 900px), only screen and (hover: none) {
    .card {
      width: 100%;
      margin-bottom: 4rem;
      height: auto;
      box-shadow: 0 2rem 2rem; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          padding-bottom: 2rem; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__picture {
        height: 0; } }

.cart {
  display: none;
  text-align: center;
  margin-top: 5rem; }
  .cart__header {
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--color-red-dark); }
  .cart__list {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 200;
    padding: 1.5rem;
    margin-bottom: 2rem;
    color: var(--color-yellow); }

@media only screen and (min-width: 900px) {
  .cart {
    display: none;
    text-align: center;
    margin-top: 5rem; }
    .cart__header {
      font-size: 2rem;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 2rem;
      color: var(--color-red-dark); }
    .cart__list {
      list-style: none;
      font-size: 1.6rem;
      font-weight: 200;
      padding: 1.5rem;
      margin-bottom: 2rem;
      color: var(--color-yellow); } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - var(--gutter-width)) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * var(--gutter-width)) / 3); }

.col-1-of-4 {
  width: calc((100% - 3 * var(--gutter-width)) / 4); }

.col-2-of-3 {
  width: calc(2 *((100% - 2 * var(--gutter-width)) / 3) + var(--gutter-width)); }

.col-2-of-4 {
  width: calc(2 *((100% - 3 * var(--gutter-width)) / 4) + var(--gutter-width)); }

.col-3-of-4 {
  width: calc(3 *((100% - 3 * var(--gutter-width)) / 4) + 2 * var(--gutter-width)); }

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal__content {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 15%; }
    @media only screen and (max-width: 500px) {
      .modal__content {
        width: 90%; } }

.close {
  color: var(--color-yellow);
  float: right;
  font-size: 3rem;
  padding-right: 1rem; }
  .close:hover {
    cursor: pointer; }

.tip-calc__head {
  background-color: var(--color-black);
  color: var(--color-yellow);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem; }
  .tip-calc__head--title {
    font-size: 3rem;
    text-transform: uppercase; }

.tip-calc__body {
  background-color: var(--color-red-dark);
  padding-bottom: 4rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; }
  .tip-calc__body--input {
    padding: 1rem;
    width: 50%;
    font-size: 2rem; }
  .tip-calc__body--btn {
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 10rem;
    font-size: 2rem;
    background-color: var(--color-yellow);
    margin: 0 1rem; }
    .tip-calc__body--btn:hover {
      transform: translateY(-0.3rem); }

.symbol {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem; }

.sidebar {
  flex: 18% 0 0;
  background-color: var(--color-orange);
  box-shadow: 0 1rem 1rem; }
  @media only screen and (max-width: 900px) {
    .sidebar {
      flex: 100% 0 0;
      height: 5rem; } }
  @media only screen and (max-width: 900px) {
    .sidebar .nav {
      display: flex;
      justify-content: space-around; } }
  .sidebar .nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-white); }
  .sidebar .nav-item {
    padding: 1.5rem 0;
    text-align: center;
    transition: all .5s;
    text-transform: uppercase;
    position: relative; }
  .sidebar .nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-yellow);
    width: .3rem;
    height: 100%;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .sidebar .nav-item:hover::before {
    transform: scaleY(1);
    width: 100%; }
    @media only screen and (max-width: 900px) {
      .sidebar .nav-item:hover::before {
        transform: scaleY(0);
        width: 0; } }
  .sidebar .nav-link:link, .sidebar .nav-link:visited {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 200;
    color: var(--color-white);
    position: relative;
    z-index: 10; }

.sub-header {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(157, 11, 11, 0.9), rgba(218, 45, 45, 0.8)); }

.user-bar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #e4e3e3;
  border-bottom: #bbbbbb;
  box-shadow: 0 .5rem .5rem; }
  .user-bar__user {
    display: flex;
    align-items: center; }
    .user-bar__user--link, .user-bar__user:link {
      font-size: 1.3rem;
      margin-right: 1rem;
      text-decoration: none;
      color: var(--color-red-dark); }
    .user-bar__user--image-pic {
      height: 4rem;
      width: 4rem;
      border-radius: 50%; }
    .user-bar__user--settings {
      display: none;
      position: absolute;
      right: 2rem;
      z-index: 20;
      background-color: #e4e3e3;
      border-bottom: #bbbbbb;
      padding: 2rem 4rem;
      box-shadow: 0 .2rem .1rem; }
      .user-bar__user--settings-li, .user-bar__user--settings:link {
        font-size: 1.3rem;
        color: var(--color-red-dark);
        text-decoration: none; }

.main__contact {
  padding: 1rem 4rem 2rem 4rem;
  width: 100%; }

.contact {
  width: 100%;
  display: flex;
  text-align: center; }
  .contact__form--input {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background-color: var(--color-grey-light); }
    .contact__form--input-fname {
      width: 50%; }
    .contact__form--input-lname {
      width: 49%; }
    .contact__form--input-email {
      width: 100%; }
    .contact__form--input-message {
      width: 100%;
      height: 15rem;
      margin-bottom: 5rem; }
  .contact__social {
    display: grid;
    grid-template-rows: 10rem;
    grid-template-columns: repeat(2, 20vw);
    justify-items: center;
    margin-left: 5rem;
    color: var(--color-red-dark); }
    .contact__social--header {
      grid-column: 1 / -1;
      font-size: 4rem;
      font-weight: 200; }
    .contact__social--add {
      font-size: 2.5rem;
      font-weight: 200;
      grid-column: 1 / -1;
      grid-row: 2 / -1; }
    .contact__social--logos {
      grid-column: 1 / -1; }

.social__icon {
  width: 3rem;
  height: 3rem; }

.header {
  height: 75vh;
  background-image: linear-gradient(to right bottom, rgba(157, 11, 11, 0.8), rgba(218, 45, 45, 0.6)), url("../../img/clay-banks-1Uj0HmqQFGk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-yellow); }
    .header__content--title {
      font-size: 7rem;
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
      animation: moveInBottom 2s;
      animation-fill-mode: backwards; }
    .header__content--blurb {
      font-size: 3rem;
      text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
      animation: moveInBottom 2s .5s;
      animation-fill-mode: backwards; }
    .header__content--search {
      font-size: 2rem;
      padding: 1rem;
      margin: 2rem 0;
      width: 50rem;
      border: none;
      border-radius: 10rem;
      text-align: center;
      animation: moveInBottom 2s 1s;
      animation-fill-mode: backwards;
      transition: all .5s; }
      .header__content--search:focus {
        width: 60rem;
        border: none;
        outline: none; }

.footer {
  background-color: var(--color-black);
  display: flex;
  justify-content: space-around;
  padding: 5rem 0; }

.foot__icon {
  height: 5rem;
  width: 5rem; }
  @media only screen and (max-width: 500px) {
    .foot__icon {
      height: 4rem;
      width: 4rem; } }

.main {
  padding: 1rem 4rem 2rem 4rem; }
  @media only screen and (max-width: 900px) {
    .main__header {
      display: flex;
      flex-direction: column; } }
  .main__content {
    display: flex;
    justify-content: space-between; }
    .main__content--image {
      width: 30%; }
      .main__content--image-pic {
        width: 100%; }

.featured__city {
  display: flex;
  align-items: center; }
  .featured__city:not(:last-child) {
    margin-bottom: 2rem; }

.featured__image--pic {
  height: 10rem;
  width: 10rem;
  border-radius: 50%; }
  @media only screen and (max-width: 500px) {
    .featured__image--pic {
      height: 7rem;
      width: 7rem; } }

.featured__text--title {
  font-size: 2rem;
  font-weight: 200;
  margin-left: 2rem;
  color: var(--color-red-light); }
  @media only screen and (max-width: 500px) {
    .featured__text--title {
      font-size: 1.6rem; } }

.main__plans {
  width: 100%;
  padding: 1rem 4rem 2rem 4rem; }
  .main__plans--card {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    @media only screen and (max-width: 900px) {
      .main__plans--card {
        flex-direction: column;
        width: 100%; } }

ul {
  list-style: none; }

.review {
  display: flex; }
  @media only screen and (max-width: 900px) {
    .review {
      flex-direction: column; } }
  .review__card {
    margin: 2rem 1rem;
    padding-bottom: 10rem;
    height: 40rem;
    box-shadow: 0 1rem 1rem; }
    @media only screen and (max-width: 900px) {
      .review__card {
        padding-bottom: 0; } }
    .review__card--head {
      height: 45%;
      background-size: cover;
      background-position: center; }
      .review__card--head-1 {
        background-image: url(../img/review-1.jpg); }
      .review__card--head-2 {
        background-image: url(../img/review-2.jpg); }
      .review__card--head-3 {
        background-image: url(../img/review-3.jpg); }
      .review__card--head-4 {
        background-image: url(../img/review-4.jpg); }
      .review__card--head-5 {
        background-image: url(../img/review-5.jpg); }
      .review__card--head-6 {
        background-image: url(../img/review-6.jpg); }
    .review__card--body {
      margin-top: 4rem;
      text-align: center; }
    .review__card--footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem; }
      .review__card--footer-stars-icon {
        height: 1.8rem;
        width: 1.8rem;
        fill: var(--color-red-dark); }
      .review__card--footer-ave {
        font-size: 2.5rem;
        color: var(--color-yellow); }

.user-image {
  height: 6rem;
  width: 6rem;
  border-radius: 50%; }

.content {
  display: flex; }
  @media only screen and (max-width: 900px) {
    .content {
      flex-direction: column; } }
