.main {
    padding: 1rem 4rem 2rem 4rem;

    &__header {

        @media only screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
        }
    }


    &__content {
        display: flex;
        justify-content: space-between;


        &--image {
            width: 30%;

            &-pic {
                width: 100%;

            }
        }

    }


}

.featured {


    &__city {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

    }

    &__image {
    

        &--pic {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;

            @media only screen and (max-width: 500px) {
                height: 7rem;
                width: 7rem;
            }

        }
    }

    &__text {
        

        &--title {
            font-size: 2rem;
            font-weight: 200;
            margin-left: 2rem;
            color: var(--color-red-light);

            @media only screen and (max-width: 500px) {
                font-size: 1.6rem;
            }

        }
    }

}