.main {
    padding: 1rem 4rem 2rem 4rem;


    &__content {
        display: flex;
        justify-content: space-between;

        &--image {
            width: 30%;

            &-pic {
                width: 100%;

            }
        }

    }


}