.sidebar {
    flex: 18% 0 0;
    background-color: var(--color-orange);
    box-shadow: 0 1rem 1rem;

    @media only screen and (max-width: 900px) {
        flex: 100% 0 0;
        height: 5rem;
    }

    .nav {

        @media only screen and (max-width: 900px) {
            display: flex;
            justify-content: space-around;
        }

        &__icon {
            height: 1.75rem;
            width: 1.75rem;
            fill: var(--color-white);
        }

        &-item {
            padding: 1.5rem 0;
            text-align: center;
            transition: all .5s;
            text-transform: uppercase;
            position: relative;

            // &:hover {
            //     background-color: var(--color-yellow);
            // }

        }

        &-item::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-yellow);
            width: .3rem;
            height: 100%;
            transform: scaleY(0);
            transition: transform .2s,
                        width .4s cubic-bezier(1, 0, 0, 1) .2s;
        }

        &-item:hover::before {
            transform: scaleY(1);
            width: 100%;
        }

        &-link:link,
        &-link:visited {
            text-decoration: none;
            font-size: 2rem;
            color: var(--color-white);
            position: relative;
            z-index: 10;

        }

    }
}