.sidebar {
    flex: 18% 0 0;
    background-color: var(--color-orange);
    box-shadow: 0 1rem 1rem;

    .nav {

        &-item {
            padding: 1.5rem 0;
            text-align: center;
            transition: all .5s;
            text-transform: uppercase;

            &:hover {
                background-color: var(--color-yellow);
            }

        }

        &-link {
            text-decoration: none;
            font-size: 2rem;
            color: var(--color-white);

        }
    }
}