/*COLORS
Dark red - #9d0b0b;
Light red - #da2d2d;
Orange - #eb8242;
Yellow - #f6da63;
*/

:root {
    //Grid margin widths
    --gutter-width: 6rem;

    //Colors
    --color-red-dark: #9d0b0b;
    --color-red-light: #da2d2d;
    --color-orange: #eb8242;
    --color-orange-light: #ee9963;
    --color-yellow: #f6da63;
    --color-yellow-light: #f7e490;
    --color-white: #fff;
    --color-black: #000;
    --color-grey-light: rgb(206, 205, 205);
}


//To reset global properties
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //To set font size to 10px

    @media only screen and (max-width: 900px) {
        font-size: 50%;
    }

    @media only screen and (max-width: 500px) {
        font-size: 40%;
    }
}

body {
    font-family: 'Oswald', sans-serif;
}

