.paragraph {
    font-size: 1.6rem;
    font-weight: 200;
}

.main__header {
    margin-bottom: 5rem;

    &--title {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color: var(--color-yellow);
        font-weight: 200;

        @media only screen and (max-width: 900px) {
            text-align: center;
        }

    }
}